

<ul class="sidebar-image-list">
  <h3><%= title %></h3>
<% images.each do |image| %>

  <li class="sidebar-image-list-item">
    <a href="<%= image_url(image) %>" data-remote="true"><img class="sidebar-image-list-img" src="<%= image.image.url(:thumb) %>"></a>
    <article class="sidebar-image-list-body">
      <a href="<%= image_url(image) %>" data-remote="true"><h4><%= get_title(image.title) %></h4></a>
    </article>
  </li>
<% end %>