<%= render "image", image: @image %>

<%= render "links", image: @image %>

<div class="vote-box">
  <div class="vote-number"><%= @image.votes %></div>
  <%= button_to "Upvote", upvote_image_url(@image), method: :post, class: "upvote" %>
  <%= button_to "Downvote", downvote_image_url(@image), method: :post, class: "downvote" %>
</div>

<%= render "comment_form", parent_comment_id: nil %>

<ul class="comment-list">
  <% @comments_by_parent_id[nil].each do |comment| %>
    <li>
      <%= render "comment", comment: comment, comments_by_parent_id: @comments_by_parent_id %>
    </li>
  <% end %>
</ul>