<nav class="top-bar">

  <ul class="top-left">
    <li><%= link_to "bimgur", root_url %></li>
    <li><%= link_to "Upload an Image", new_image_url %></li>
  </ul>
  <ul class="top-right">
    <% if current_user %>
      <li><%= button_to "Log out", session_url, method: :delete %></li>
      <li><%= link_to current_user.email, user_url(current_user) %></li>
    <% else %>
      <li class="login-button">
        <%= link_to "Log In", new_session_url %>
        <div class="top-bar-dropdown">
          <%= render "sessions/login" %>
        </div>
      </li>
      <li class="signup-button">
        <%= link_to "Sign Up", new_user_url %>
        <div class="top-bar-dropdown">
          <%= render "users/signup", user: User.new %>
        </div>
      </li>
    <% end %>
  </ul>
</nav>