<!DOCTYPE html>
<html>
<head>
  <title>ImgurClone</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render "layouts/top_bar", current_user: current_user %>

  <div class="flash-notice"><p><%= flash.notice %></p></div>

  <div class="content group">
    <%= yield %>
  </div>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    $(".login-button").on("click", "a", function(event) {
      console.log("here");
      event.preventDefault();
      $(this).parent().toggleClass("show-login");
    });
    $(".signup-button").on("click", "a", function(event) {
      console.log("here");
      event.preventDefault();
      $(this).parent().toggleClass("show-signup");
    });
  })
</script>
</body>
</html>
