<!DOCTYPE html>
<html>
<head>
  <title>ImgurClone</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body id="body">

  <div class="show-page-holder">
    <div class="transparent-background"></div>
    <div class="nested-show-page"></div>
  </div>

  <div class='droppable'><div><p>Drop file anywhere to upload.</p></div></div>
  <div id='dropmask'></div>

  <%= render "layouts/top_bar", current_user: current_user %>

  <div class="flash-notice"><p><%= flash.notice %></p></div>

  <div class="content group">
    <%= yield %>
  </div>

</body>
</html>
