<!DOCTYPE html>
<html>
<head>
  <title>ImgurClone</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body id="body">

  <div class="login-overlay">
    <div class="transparent-background login"></div>
    <div class="signup-page">
      <%= render "users/signup", user: User.new unless current_user %>
    </div>
    <div class="login-page">
      <%= render "sessions/login" unless current_user %>
    </div>
  </div>

  <div class="show-page-holder">
    <div class="transparent-background show"></div>
    <div class="nested-scroll-fix">
      <div class="nested-show-page"></div>
    </div>
  </div>

  <div class='droppable'><div><p>Drop file anywhere to upload.</p></div></div>
  <div id='dropmask'></div>

  <%= render "layouts/top_bar", current_user: current_user %>

  <div class="flash-notice"><p><%= flash.notice %></p></div>

  <div class="content group">
    <%= yield %>
  </div>
	
	<div id="ajax-loader">
	  <%= image_tag "ajax-loader.gif" %> <br>
	  Loading more posts...
	</div>

</body>
</html>
